*{
    color: #ccc;
    text-align: center;
    
}

body{
    background-color: rgb(50, 101, 134);
}

button {
    cursor: pointer;
    justify-content: flex-start;
    padding: 20px;
    background: #b94071;
    margin: 20px;
    border-radius: 5px; 
    font-weight: bold;
}

 #manage-account {
    margin-top: 8rem;
 }

main {
    flex: auto;
    margin-bottom: 3rem;
    margin-top: 4rem;

}

.main-contents h2{
    letter-spacing: 1.5px;
    margin-bottom: .6rem;
    text-transform: capitalize;
}

.main-contents p{
    font-size: 1.1rem;
    letter-spacing: 1.7px;
    line-height: 1.35;
   
         
}


footer {
    font-size: .9em;
    letter-spacing: .18rem;
    margin-bottom: 1.5rem;
    margin-top: 4rem;
    text-transform: uppercase;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}