body{
    background-color: rgb(50, 101, 134);
    color: #ccc;
    text-align: center;
    padding: 20px;
    margin: 20px;
    
}


  input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  label  {
    color:#ccc;
    font-size: 20px;
    display: inline;
   
  }
  
 
  button {
    background-color: #b94071;
    color: #ccc;
    font-size: 15px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
  }
  
  
  button:hover {
    opacity: 0.8;
  }
  
  footer {
    font-size: .9em;
    letter-spacing: .18rem;
    margin-bottom: 1.5rem;
    margin-top: 4rem;
    text-transform: uppercase;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
  